@(message: String)

@main("Welcome to Bombbear!") {
	<script type="text/javascript" src="/assets/javascripts/bombbear.js"></script>
	<script type="text/javascript" src="/assets/javascripts/bombbear/config.js"></script>
	<script type="text/javascript" src="/assets/javascripts/bombbear/gamemap.js"></script>
	<script type="text/javascript" src="/assets/javascripts/bombbear/player.js"></script>
	<script type="text/javascript" src="/assets/javascripts/bombbear/game.js"></script>
	<script type="text/javascript">//$.getScript("/assets/javascripts/bombbear.js");
    
    //var map = new Map(32, 32);
    //var size = 32;
    /*game.onload = function(){
 // Obstacle Detection on Maps

map.image = game.assets['/assets/images/map0.png'];
var mapa = [
  [  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
  [  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
  [  0,  2,  0,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  0,  0],
  [  0,  2,  0,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  0],
  [  0,  2,  0,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  0],
  [  0,  2,  0,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  0],
  [  0,  2,  0,  0,  0,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  0],
  [  0,  2,  0,  2,  0,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  0],
  [  0,  2,  0,  2,  0,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  0],
  [  0,  2,  0,  2,  0,  0,  0,  2,  2,  2,  2,  2,  2,  2,  2,  0],
  [  0,  2,  0,  2,  0,  2,  0,  2,  2,  2,  2,  2,  2,  2,  2,  0],
  [  0,  2,  2,  2,  0,  2,  0,  2,  2,  2,  2,  2,  2,  2,  0,  0],
  [  0,  2,  2,  2,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
  [  0,  2,  2,  2,  2,  2,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
  [  0,  2,  2,  2,  2,  2,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
  [  0,  2,  2,  2,  2,  2,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0]
];
map.loadData(mapa);

var colMap = [
  [  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
  [  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
  [  0,  2,  0,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  0,  0],
  [  0,  2,  0,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  0],
  [  0,  2,  0,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  0],
  [  0,  2,  0,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  0],
  [  0,  2,  0,  0,  0,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  0],
  [  0,  2,  0,  2,  0,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  0],
  [  0,  2,  0,  2,  0,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  0],
  [  0,  2,  0,  2,  0,  0,  0,  2,  2,  2,  2,  2,  2,  2,  2,  0],
  [  0,  2,  0,  2,  0,  2,  0,  2,  2,  2,  2,  2,  2,  2,  2,  0],
  [  0,  2,  2,  2,  0,  2,  0,  2,  2,  2,  2,  2,  2,  2,  0,  0],
  [  0,  2,  2,  2,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
  [  0,  1,  1,  1,  1,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
  [  0,  1,  1,  1,  1,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
  [  0,  1,  1,  1,  1,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0]
];
map.collisionData = colMap;
 
if (map.hitTest(100,100) === true) {
  console.log('hit');
}



 
game.rootScene.addChild(map);
        
        bear.image = game.assets['/assets/images/chara1.png'];
        game.rootScene.addChild(bear);
        bear.frame = [6, 6, 7, 7];   // select sprite frame
        
        /*
        bear.tl.moveBy(200, 0, 90)   // move right
            .scaleTo(-1, 1, 1)      // turn left
            .moveBy(-200, 0, 90)     // move left
            .scaleTo(1, 1, 1)  ;     // turn right
          */  //.loop();                 // loop it
 /*   };*/

        </script>
}


