@(message: String, player: String)

@main("Welcome to Bombbear!") {
<div class="opacity" id="player-list"></div>
<div class="opacity" id="info"></div>
<script type="text/javascript">
	var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket
	var chatSocket = new WS("@routes.Application.join().webSocketURL(request)")
	$(function () {
	    var receiveEvent = function (event) {
	        var data = JSON.parse(event.data)
	        JSON.parse(event.data, function (key, value) {
	        	console.log("event data: "+key+": "+value );
	        });
			
	        // Handle errors
	        if (data.error) {
	            chatSocket.close()
	            $("#onError span").text(data.error)
	            $("#onError").show()
	            return
	        } else {
	            $("#onChat").show()
	        }
	
	        // Create the message element
	        var el = $('<div class="message"><span></span><p></p></div>')
	        $("span", el).text(data.user)
	        $("p", el).text(data.message)
	        $(el).addClass(data.kind)
	        if (data.user == '@player') $(el).addClass('me')
	        $('#info').append(el)
	
	        // Update the members list
	        $("#info").html('')
	        $(data.members).each(function () {
	            var li = document.createElement('li');
	            li.textContent = "Character " + this + " joined";
	            $("#info").append(li);
	        })
	    }
	    chatSocket.onmessage = receiveEvent
	
	    $.getJSON("@routes.Application.players()", function (data) {
	        var content = "";
	        var list = $("#player-list");
	        content = "<table><td></td><td>Spielername</td>";
	        $.each(data.players, function (key, value) {
	            content = content + "<tr><td><div style=\"background-image:url('/assets/images/" + value.character + ".png')\" class=\"avatar\"></div></td><td>" + value.username + "</td></tr>";
	        });
	        content = content + "</table>";
	        list.html(content);
	    });
	
	
	    $.getJSON("@routes.Application.map()", function (data) {
	        enchant(); // initialize
	        var game = new Core(1280, 720); // game stage
	        game.preload('/assets/images/@(player).png'); // preload image
	        game.preload('/assets/images/map1.png'); // preload image
	        game.fps = 20;
	
	        game.onload = function () {
	            var bear = new Sprite(32, 32);
	            // Obstacle Detection on Maps
	            var map = new Map(16, 16);
	            map.image = game.assets['/assets/images/map1.png'];
	            map.loadData(data.fieldMap);
	            map.collisionData = data.colMap;
	
	            game.rootScene.addChild(map);
	            bear.image = game.assets['/assets/images/@(player).png'];
	            game.rootScene.addChild(bear);
	            bear.frame = [6, 6, 7, 7]; // select sprite frame
	
	            bear.tl.moveBy(320, 0, 40) // move right
	            .scaleTo(-1, 1, 1) // turn left
	            .moveBy(0, 320, 40) // move down
	            .moveBy(-320, 0, 40) // move left
	            .scaleTo(1, 1, 1) // turn right
	            .moveBy(0, -320, 40) // move up
	            .loop(); // loop it
	
	            if (map.hitTest(bear.x, bear.y) === true) {
	                alert(bear.x + " und " + bear.y);
	            }
	
	            chatSocket.send(JSON.stringify({
	                text: "@player joined!"
	            }))
		        var update = function () {
		        var message = JSON.stringify({
		                character: "@player",
		                x: bear.x,
		                y: bear.y
		            });
		            chatSocket.send(message);
		            console.log(message);
		            setTimeout(update, 500);
		        };
		        update();	            
	        };
	        game.start(); // start your game!
	    });
	});
</script>
}
